USE [master]
GO
/****** Object:  Database [IngDeSoftDB]    Script Date: 29/4/2026 20:09:35 ******/
CREATE DATABASE [IngDeSoftDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IngDeSoftDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\IngDeSoftDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IngDeSoftDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\IngDeSoftDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IngDeSoftDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IngDeSoftDB]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 29/4/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id_Bitacora] [int] IDENTITY(1,1) NOT NULL,
	[id_Usuario] [int] NOT NULL,
	[actividad] [varchar](200) NOT NULL,
	[detalle] [varchar](200) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[fechaHora] [datetime] NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[id_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29/4/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Usuarios__8E901EAAB882D254] PRIMARY KEY CLUSTERED 
(
	[id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuarios] FOREIGN KEY([id_Usuario])
REFERENCES [dbo].[Usuarios] ([id_Usuario])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarBitacora]    Script Date: 29/4/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarBitacora]
	@ID_Usuario INT,
	@Username VARCHAR(255),
    @Actividad VARCHAR(255),
    @Detalle VARCHAR(255),
	@FechaHora DATETIME
AS
BEGIN
    --SET NOCOUNT ON;
    
    INSERT INTO Bitacora (id_Usuario, username, actividad, detalle, fechaHora) 
    VALUES (@ID_Usuario, @Username, @Actividad, @Detalle, @FechaHora);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarUsuario]    Script Date: 29/4/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertarUsuario]
    @Nombre VARCHAR(50),
    @Password VARCHAR(255),
	@Role VARCHAR(50)
AS
BEGIN
    --SET NOCOUNT ON;
    
    INSERT INTO Usuarios (nombre, password, role) 
    VALUES (@Nombre, @Password, @Role);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LimpiarBitacora]    Script Date: 29/4/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LimpiarBitacora]
AS 
DELETE FROM bitacora
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarBitacora]    Script Date: 29/4/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ListarBitacora]
AS
BEGIN

SELECT * FROM Bitacora

END
GO
/****** Object:  StoredProcedure [dbo].[SP_LoginUsuario]    Script Date: 29/4/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LoginUsuario]
    @Nombre VARCHAR(50)
AS
BEGIN
    -- Evita que SQL envíe mensajes de "filas afectadas" que pueden confundir a ADO.NET
    SET NOCOUNT ON; 

    -- Buscamos el usuario SOLO por su nombre
    SELECT 
        id_Usuario, 
        nombre, 
        password,
		role
    FROM 
        Usuarios
    WHERE 
        nombre = @Nombre;
END
GO
USE [master]
GO
